# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python

# Distribution / packaging
.eggs/
*.egg
build/
dist/

# Virtual environment
.venv/
venv/
env/

# Editors and IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
*.kpf
*.tmproj
*.bak
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
htmlcov/

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
